*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}
body {

    background-color: rgb(231, 214, 214);
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
section
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}
.section-load{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d66060;
    animation: animateBg 8s linear infinite;
}

@keyframes animateBg
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}


.section-load .loading{
    position: relative;
    width: 120px;
    height: 120px;
}



.contennerImgName {

    box-sizing: border-box;
   
    position: relative;
  
    text-align: center;
    color: white;
    background-color: #5f6061;
    overflow-y: scroll;
}
.title-ct{
    padding: 0.5rem;
}

.contennerImgName img {
    width: 200px;
    height: 200px;
}

p {
    word-break: keep-all;
}
.contennerCourses{
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    width: 100vw;
    text-align: center;
    color: black;
}
.experienceDiv{

    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    width: 100vw;
    text-align: center;
    background-color: #90CBFB;
    
}
.text-experience{
   
    overflow: scroll;
    max-height: 16rem;
}
.scrol-result{
    position: relative;
    overflow: auto;
    height: 17rem;
}

.btn-loading{
    min-width: 100vw;
    min-height: 100vh;
}



/* Links */
.links
{
    background-color: #5f6061;
}

.title-sec{
    position: absolute;
    left: 50%;
    top:0.5rem;
    transform: translate(-50%);
}
.links ul
{
    position: relative;
    display: flex;
}

.links ul li
{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.links ul li a
{
    text-decoration: none;
}
.links ul li a .fab
{
    font-size: 6em;
    color: rgb(218, 209, 209);
}
.links ul li::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    font-size: 6em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.links ul li:nth-child(1)::before
{
    content: '\f09b';
    color: black;
    top: -1.5rem;
    border-bottom: 4px solid black;
}
.links ul li:nth-child(2)::before
{
    content: '\f0e1';
    top: -1.5rem;
    color: rgb(47, 200, 211);
    border-bottom: 4px solid rgb(47, 200, 211);
}

.links ul li:hover::before
{
    height: 25vh;
}

/* Start Slide Cards Courses*/

.certifications-section .swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.certifications-section .swiper-slide {
    background-position: center;
    background-size: cover;
  }

/* End Slide Cards Courses*/