*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-load{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d66060;
    animation: animateBg 8s linear infinite;
}

@keyframes animateBg
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}


.section-load .loading{
    position: relative;
    width: 120px;
    height: 120px;
}


